#login-container{
    margin-top: 5em;
    justify-content: center;
    text-align: center;
}
#form-container{
    width: 50vw;
    margin: auto;
}
#register-container{
    margin-top: 2em;
    text-align: center;
}
#error-text{
    margin-top: 1em;
    color: red;
    font-weight: bolder;
}